body {
  padding: 0;
  margin: 0;
  background-color: #eddbc7;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

header > img {
  display: block;
  margin: auto;
  height: 4rem;
  width: 35rem;
}

nav ul {
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: space-around;
  padding: 3rem;
}

article > h1 {
  text-align: center;
}
main {
  background-color: #f9f5e7;
  padding: 6rem;
}

section {
  display: flex;
}

article {
  flex: 1;
}
