body {
  padding: 0;
  margin: 0;
  background-color: #eddbc7;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 3rem;
  color: #ffffff;
}
h1 + p {
  color: #ffffff;
}
h2 {
  font-size: 2rem;
}
button {
  margin-top: 1rem;
  padding: 1em 4em 1em;
  letter-spacing: 0.05em;
  font-size: 14px;
  cursor: pointer;
  border: 1px solid black;
}
header > img {
  display: block;
  margin: auto;
  height: 4rem;
  width: 35rem;
}

nav ul {
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: space-around;
  padding: 3rem;
}

main {
  background-image: url("/Users/Admin/Desktop/code_projects/Mangata-and-Gallo/photos/cat-han-Ks6wd1Zyf1o-unsplash.jpg");
  background-color: #f9f5e7;
  background-size: 90rem 90rem;
  background-repeat: no-repeat;
  background-position: center;
  padding: 6rem;
}

section {
  display: flex;
}

article {
  flex: 1;
}

#bottom-section {
  margin-top: 10rem;
  background-color: #a7727d;
  display: flex;
  justify-content: space-between;
}

footer {
  display: flex;
  justify-content: space-between;
}

div > img {
  height: 2rem;
  width: 12rem;
  margin-left: 5rem;
  padding-top: 1rem;
}

div > p {
  margin-right: 5rem;
}
